section {
    max-width: 900px;
    display: grid;
    margin: auto;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    gap: 5px 1em;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: min-content;
    "header header header"
    "main"
    "footer footer footer";
    max-width: 80%;
    background-color: #f0f0f0;
}
