@media (min-width: 480px){

    main {    
        display: grid;
        /* define the # of grid columns */
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr) );
        margin: auto;
        border: 1px solid lightgray;
        gap: 1em 1.5em;
        
    }
    /* nav { 
        display: none;
    }  */

}

@media (max-width: 780px){
    .hidden {
        display: none;

    }

}


@media screen and (min-width: 760px) {
    main {
        max-width: 800px;
        /* define the # of grid columns */
        grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );       
        
    }
    nav { 
        display: initial;
    } 

    .hamburger {
        display: none;
    }

    /* .hidden {
        display: initial;

    } */


    

}