/* Base Styles */

body {
  font-family: Times, Roboto, Garamond;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
  

header {
  background-color: royalblue;

}

header h1 {
margin-bottom: 0;
}

nav{
  /* display: inline-flex; */
  margin: auto;

}

main {

  margin-top: 25px;
  margin-bottom: 25px;
  padding: 5px;
  background-color: #f8f8f8;    
}

section {
  display: inline-block;
  border: 1px solid gray;    
  padding: 12px;

}
aside {
  border: 1px solid gray;    
  padding: 8px;

}

header img {
  max-height: 14em;
    
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: right;
}
    
li {
  display: inline-block;
  }

li a {
  display: block;
  padding: 12px;
  color: white;
  background-color: inherit;
  text-align: center;
  font-size: 1.5rem;
  }

  li a:hover {
    background-color: inherit;
    text-align: center;
    }

h1 {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  color: black;
  font-size: 3em;
}

h1

header h1:hover {
  color: none;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  color: #d4af37;
}
  
  
p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}
  
a {
  text-decoration: none;
 
}

  /* Change Link Color on Hover */
a:hover {
  color: #d4af37;

}


input[type=submit] {
  background-color: royalblue;
  border: none;
  border-radius: 50px;
  color: #d4af37;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=submit]:hover {
  
  color: black;
  
}


footer{
  margin-top: auto;
  padding-top: 1.5rem;
  background-color: lightgrey;
  width: 100%;
  text-align: center;
  font-size: 1.5em;

}

footer a{
  color: black;

   
}

/* Class Styles */



  
.banner {
  padding-left: 0.75em;
  display: inline-block;
  width: 45%;

}

.main_nav {
display: inline-flex;
width: 45%;
text-align: right;
margin-left: 7em;

}

.footer_nav {
  display: inline-flex;

}








/* Hamburger Test CSS */


