/* Base Styles */

body {
  font-family: Times, Roboto, Garamond;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
  
  


header {
    /* display: flex; */
    background-color: royalblue;

}

main {

    margin-top: 25px;
    margin-bottom: 25px;
    padding: 5px;
    background-color: #f8f8f8;
    /* box-sizing: border-box; */
}

section {
    display: inline-block;
    border: 1px solid gray;    
    padding: 12px;

}
aside {
    border: 1px solid gray;    
    padding: 8px;

}

header img {
    max-height: 14em;
    
}

nav{
    display: inline-flex;
    margin: auto;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
    
li {
    /* display: inline; */
    float: left;
}

li a {
    /* display: block; */
    padding: 12px;
    color: white;
    background-color: inherit;
    text-align: center;
  }

  h1 {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    color: black;
    font-size: 2.5em;
  }

  h1:hover {
    color: #d4af37;

  }

  h2 {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
  }
  
  
  p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
  }
  
  a {
    display: block;
    text-decoration: none;
    color: #008CBA;
  }

  /* Change Link Color on Hover */
a:hover {
    color: #d4af37;

}


footer{
  margin-top: auto;
  /* position: fixed;
  width: 100%;
  bottom: 0; */
  background-color: lightgrey;
  width: 100%;
  text-align: center;
  
}
footer a{
    color: black;
   
}

br {
padding-bottom: 50px;
padding-left: 50px;

}

/* Class Styles */


.header_nav{
  display: inline-flex;
  

}

.banner_img {
display: inline-flex;
width: 50%;

}

.header_nav{
margin-left: 7em;


}
