/* Base Styles */

header {
    width: 100%;
    display: inline-block;
    background-color: #002366;
    padding-bottom: 1em;
    
}

header img {
    display: flex;
    width: 55%;
    

}
html body {
    height: 100%;
    margin: 0;
}

footer{
    display: inline-block;
    background-color: lightgrey;
    width: 100%;

}

aside {
    background-color: black;

}
nav{
      
    float: right;
    
}

ul{
    display: inline-flex;
    width: auto;
    padding-left: 15px;    
    list-style: none;
}

a {
    color: #d4af37;
}

a:hover {
    color: #ffffff;
}

p {
    text-align: justify;

}

/* Class Selectors */

.problem{
    border: 5px red;

}

.main-nav{
    
        
}
.footer-nav {
    

}


.main_nav li{
       width: 75%;
    float: right;

}
